<ion-app>
  <ion-router-outlet>
    <div class="tabs">
      <ion-tabs>  
        <ion-tab-bar id="tabs" slot="bottom">
          <ion-tab-button [ngClass]="{ 'active' : tabService.getActiveTab() === 1 }" (click)="toggleTab(1)" type="button" tab="home">
            <ion-icon name="home-outline"></ion-icon>
          </ion-tab-button>
          <ion-tab-button [ngClass]="{ 'active' : tabService.getActiveTab() === 2 }" (click)="toggleTab(2)" type="button" tab="tracker">
            <ion-icon name="water-outline"></ion-icon>
          </ion-tab-button>
          <ion-tab-button [ngClass]="{ 'active' : tabService.getActiveTab() === 3 }" (click)="toggleTab(3)" type="button" tab="resources">
            <ion-icon name="file-tray-full-outline"></ion-icon>
          </ion-tab-button>
          <ion-tab-button [ngClass]="{ 'active' : tabService.getActiveTab() === 4 }" (click)="toggleTab(4)" type="button" tab="settings">
            <ion-icon name="settings-outline"></ion-icon>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs> 
    </div>
  </ion-router-outlet>
</ion-app>
