<ion-content [fullscreen]="true">
  <div class="content">
    <swiper-container id="swiper" pagination="true" pagination-dynamic-bullets="true">
      <swiper-slide>
        <ion-card>
          <img alt="FemSense logo" src="/assets/logo-femsense.png" />
          <ion-card-header>
            <ion-card-subtitle>Welcome to</ion-card-subtitle>
            <ion-card-title>FemSense</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            "Embrace your feminine power and conquer your menstrual cycle with ease. Track, analyze, and optimize your monthly flow for a healthier, empowered you."
          </ion-card-content>
          <ion-button shape="round" (click)="home()">
            <ion-icon slot="start" name="return-down-forward-outline"></ion-icon>
            Skip
          </ion-button>
        </ion-card>

      </swiper-slide>
      <swiper-slide>
        <ion-card>
          <img src="../assets/humaaans/standing-20@2x.png" alt="">
          <ion-card-header>
            <ion-card-title>Cycle Tracking</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Keep a detailed record of your menstrual cycle, including start and end dates, flow intensity, and symptoms. FemSense intelligently predicts your upcoming cycles, allowing you to plan and prepare with confidence.
          </ion-card-content>
          <ion-button shape="round" (click)="home()">
            <ion-icon slot="start" name="return-down-forward-outline"></ion-icon>
            Skip
          </ion-button>
        </ion-card>
      </swiper-slide>
      <swiper-slide>
        <ion-card>
          <img src="../assets/humaaans/standing-22@2x.png" alt="">
          <ion-card-header>
            <ion-card-title>Symptom Analysis</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Gain insights into your body by tracking symptoms like cramps, mood swings, and bloating. FemSense provides personalized analysis and trends, helping you better understand and manage your menstrual health.
          </ion-card-content>
          <ion-button shape="round" (click)="home()">
            <ion-icon slot="start" name="return-down-forward-outline"></ion-icon>
            Skip
          </ion-button>
        </ion-card>
      </swiper-slide>
      <swiper-slide>
        <ion-card>
          <img src="../assets/humaaans/standing-24@2x.png" alt="">
          <ion-card-header>
            <ion-card-title>Fertility Monitoring</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Whether you're trying to conceive or practicing natural birth control, FemSense offers advanced fertility tracking. It detects fertile windows, ovulation predictions, and provides helpful reminders, empowering you with knowledge about your reproductive health.
          </ion-card-content>
          <ion-button shape="round" (click)="home()">
            <ion-icon slot="start" name="return-down-forward-outline"></ion-icon>
            Skip
          </ion-button>
        </ion-card>
      </swiper-slide>
      <swiper-slide>
        <ion-card>
          <img src="../assets/humaaans/standing-6@2x.png" alt="">
          <ion-card-header>
            <ion-card-title>Personalized Insights</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            FemSense generates personalized reports and summaries based on your menstrual data. Discover patterns, trends, and correlations between your cycle, symptoms, and lifestyle factors. With these valuable insights, you can make informed decisions and take control of your well-being.
          </ion-card-content>
          <ion-button shape="round" (click)="home()">
            <ion-icon slot="start" name="return-down-forward-outline"></ion-icon>
            Skip
          </ion-button>
        </ion-card>
      </swiper-slide>
      <swiper-slide>
        <ion-card>
          <img src="../assets/humaaans/standing-8@2x.png" alt="">
          <ion-card-header>
            <ion-card-title>Health Tips and Resources</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Stay up-to-date with the latest information and expert advice on menstrual health and wellness. FemSense delivers curated articles, tips, and resources tailored to your needs, ensuring you have the knowledge and support to optimize your menstrual journey.
          </ion-card-content>
          <ion-button shape="round" (click)="home()">
            <ion-icon slot="start" name="return-down-forward-outline"></ion-icon>
            Continue
          </ion-button>
        </ion-card>

      </swiper-slide>
      
    </swiper-container> 
  </div>
</ion-content>
