<ion-content [fullscreen]="true">
  <body class="body">

    <!-- HEADER -->
    <div class="header">
      <ion-card>
        <img src="/assets/reading-side.svg" alt="">
        <div>
          <ion-card-title>Hi Juana,</ion-card-title>
          <ion-card-subtitle>Your current cycle</ion-card-subtitle>
        </div>
      </ion-card>
    </div>

    <div class="info">
      <div class="bg2">
        <ion-card></ion-card>
      </div>
      <div class="bg">
        <ion-card></ion-card>
      </div>
      <div class="fg">
        <ion-card>
          <div>
            <ion-card-title>Current Cycle:</ion-card-title>
            <ion-card-subtitle>
              <ion-icon name="water"></ion-icon>14</ion-card-subtitle>
          </div>
        </ion-card>
      </div>
    </div>
    <div class="grid">
      <ul>
        <li class="next">
          <ion-card>
            <ion-card-subtitle>Next<br>Period</ion-card-subtitle>
            <ion-card-title>16 days</ion-card-title>
            <img class="svg" src="/assets/calendar.svg" alt="">
          </ion-card>
        </li>
        <li class="chance">
          <ion-card>
            <ion-card-subtitle>Pregnancy<br>Chance</ion-card-subtitle>
            <ion-card-title>Low</ion-card-title>
            <img class="svg" src="/assets/pregnant.svg" alt="">
          </ion-card>
        </li>
        <li class="phase">
          <ion-card>
            <ion-card-subtitle>Current<br>Phase</ion-card-subtitle>
            <ion-card-title>Follicular</ion-card-title>
            <img class="svg" src="/assets/cycle.svg" alt="">
          </ion-card>
        </li>
      </ul>
    </div>
  </body>
</ion-content>
